nav{
    --latime-buton: 125px;
    --inaltime-buton: 25px;
    /* background-color: ; */
}

#hamburger, #ch-menu{
    display: none;
}

.text-icon, .imag-icon{
    display: inline-block;
}

ul.meniu, ul.meniu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.meniu{
    display: flex; /*pe coloane*/
    position: relative;

}

ul.meniu ul{
    display: none;
    animation: animatie_submeniu 0.25s linear;
    transform-origin: center top; /*Ca sa nu apara din mijloc submeniul*/
}



/*animatie submeniu!*/

@keyframes animatie_submeniu{
    0% {
        opacity: 0;
        transform: scale(0, 0);
    }
    50%{
        transform:scale(0.5, 1);
    }
    100%{
        opacity: 1;
        transform: scale(1, 1);
    }
}

ul.meniu li { /*obs ca nu mai avem >, direct spatiu*/
    font-weight: bold;
    cursor: pointer; /*iconita pe hover*/
    width: var(--latime-buton);
    height: var(--inaltime-buton);
    background-color: var(--culoare-fundal);
    border: 1px solid var(--culoare-contur);
    color: rgb(0, 0, 0);
    /* text-decoration: none; */
    transition: all 0.1s linear;
    text-align: center;
    line-height: var(--inaltime-buton);
    /* cu transition poti face animatii stil transition */
}

ul.meniu li:hover{ /*mai mare ca nu vrem si la submeniu*/
    background-color: var(--culoare-contur);
    color: white;
}

ul.meniu li a{ /*supresam faptul ca se dadea display ca link*/
    text-decoration: none;
    color: inherit; /*sau black*/
    display: block;
    width: 100%;
    height: 100%;
}

ul.meniu > li:hover ul{
    display: block;
    position: absolute;
    z-index: 17; /*orice val mai mare strict de 0*/
}