#hamburger{
    display: block;
}

#hamburger > img{
    height: clamp(2rem, 4vw, 3.5em); /*relativ la font size container*/
    width: auto;
    transition: height 0.3s ease-in-out;
}

ul.meniu{
    display: none;
}
/* + inseamna fratele fix dupa el */
#ch-menu:checked + ul.meniu{
    display: block;
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    z-index: 10;
    width: 100%;
}
/* toate li-urile de sub ul meniu */
ul.meniu li{
    width: 100%;
}

ul.meniu ul{
    width: 100%;
}