<footer id="subsol">
    <p id="banner-print" hidden>Acesta este un proiect școlar!</p>
    <a href="#" title="mergi sus" id="link-top">
        <span class="sageata">&#8593;</span>
        <span class="tooltip">Mergi sus!</span>
    </a>
    <p><small>
            Site făcut de <a href="https://github.com/Aecrimx/Magazin-de-Ceai" target="_blank">Popa Mircea
                Alexandru</a>. &copy; Copyright <time datetime="2026-03-08">8 martie 2026</time><br>
        </small>
    </p>
    <address>
        <p><small>
                <strong>Nr. de telefon:</strong>
                <i class="fa-solid fa-phone fa-shake"></i> <a href="tel:+40756728008">0756 728 008</a>
            </small></p>
        <p><small>
                <strong> Adresă sediu fizic:</strong><br>
                <a href="https://maps.google.com/?q=Facultatea+de+Matematica+si+Informatica+Buc
sigla
pagina nu exista uresti"
                    target="_blank">
                    Strada Ceaiului, Nr. 3<br>
                    Clădirea Facultatea de Matcha și Infuzii, Parter<br>
                    Sector 1, București
                </a>
            </small></p>
        <p><small>
                <strong>Email de contact:</strong>
                <a href="mailto:mircea.alexandru.popa@gmail.com">mircea.alexandru.popa@gmail.com</a>
            </small></p>
        <p><small>
                <strong>Contactați-ne pe Whatsapp:</strong>
                <a href="https://wa.me/40756728008"><i class="fa-brands fa-whatsapp"></i></a>
            </small></p>
        <p><small>
                <strong>Ne puteți găși pe Social Media:</strong>
                <a href="https://www.instagram.com/mirceaa_m.e"><i class="fa-brands fa-instagram"></i></a> |
                <a href="https://www.facebook.com/alexzip123"> <i class="fa-brands fa-square-facebook"></i></a>
            </small></p>
        <p><small>
                Adresă IP: <%= ip %>
            </small></p>
    </address>
</footer>