<nav id="menu-site">
    <label id="hamburger" for="ch-menu" aria-label="Deschide meniul principal">
        <span class="hamburger-container" aria-hidden="true">
            <span class="bar bar-1"></span>
            <span class="bar bar-2"></span>
            <span class="bar bar-3"></span>
        </span>
    </label>
    <input type="checkbox" id="ch-menu" />
    <ul class="meniu">
        <li class="item-acasa">
            <a href="/" aria-label="Pagina principală">
                <span class="imag-icon"><i class="fa-solid fa-house"></i></span>
                <span class="text-icon">Acasă</span>
            </a>
            <ul>
                <li><a href="/#welcome">Bine ați venit</a></li>
                <li><a href="/#promotii">Promoții</a></li>
                <li><a href="/#orar">Program</a></li>
            </ul>
        </li>
        <li>
            <a href="/produse">
                <span class="imag-icon"><i class="fa-solid fa-store"></i></span>
                <span class="text-icon">Produse</span>
            </a>
            <ul>
                <li><a href="/produse">Catalog produse</a></li>
                <li><a href="/produse?categorie=ceai-verde">Ceai verde</a></li>
                <li><a href="/produse?categorie=accesorii">Accesorii</a></li>
            </ul>
        </li>
        <li>
            <a href="/galerie-statica">
                <span class="imag-icon"><i class="fa-solid fa-images"></i></span>
                <span class="text-icon">Galerie</span>
            </a>
        </li>
        <li>
            <a href="/despre">
                <span class="imag-icon"><i class="fa-solid fa-circle-info"></i></span>
                <span class="text-icon">Informații</span>
            </a>
            <ul>
                <li><a href="/#despre-noi">Despre noi</a></li>
                <li><a href="/#index-intrebari">Întrebări frecvente</a></li>
                <li><a href="/#ghid">Ghidul ceaiului</a></li>
            </ul>
        </li>
        <li>
            <a href="/inregistrare">
                <span class="imag-icon"><i class="fa-solid fa-user-plus"></i></span>
                <span class="text-icon">Înregistrare</span>
            </a>
        </li>
    </ul>
</nav>
<section id="test">
    <header class="c1" id="titlu">
        <h1 id="t">Camellie's <span>Corner</span></h1>
        <a href="/resurse/imagini/siglatemporara_trans.png" target="_blank">
            <img src="/resurse/imagini/siglatemporara_trans.png" alt="sigla" />
        </a>
    </header>
</section>