    <meta charset="utf-8">
    <meta name="author" content="Popa Mircea Alexandru">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Ceainaria Camellie ofera sortimente de ceiauri, cu posibilitatea de a achizitiona online si livrare prin curier.">
    <meta name="keywords" content="ceai, ceaiuri, ceainarie, Camellie, ceai verde, ceai negru, ceainic, produse">
    <title>Camellie's Corner</title>
    <!--momentan cai absolute .-->
    <link rel="icon" type="image/png" href="/resurse/imagini/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/resurse/imagini/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/resurse/imagini/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/resurse/imagini/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Camellie" />
    <link rel="manifest" href="/resurse/imagini/favicon/site.webmanifest" />
    <!--Maybe alta idee mai stralucita dar momentan imi place Camellie de la specia plantei din care faci ceai verde-->
    <link rel="stylesheet" href="/resurse/css/general.css" type="text/css">
    <link rel="stylesheet" href="/resurse/css/nav.css" type="text/css">
    <link rel="stylesheet" href="/resurse/css/nav1000.css" type="text/css" media="screen and (max-width : 1000px)" />
    <link rel="stylesheet" href="/resurse/css/nav700.css" type="text/css" media="screen and (max-width : 700px)" />
    <!-- nav700 e pt ecrane mici -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <!-- biblioteca externa iconite -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
